AutoSave.brd
devices.dml
master.tag

*.dbk
*.DSNlck
*.jrl
*.jrl,*
*.lck
*.log
*.log,*
*.lst
*.net
*.obk
*.OLBlck
*.raw
*.rpt
*.rpt,*
*.txt
*.txt,*
*,*

**/Boards/Allegro
**/Boards/Manufacturing/**
**/Research/
**/Schematics/**/*.png
**/Schematics/*-PSpiceFiles
**/signoise.run/
**/stepFacetFiles4Map/
**/Unclassified/

!art_param.txt
!nc_param.txt
